<div class="nav-main">
  <div class="nav-left">
    <i class="ri-menu-2-line" id="menu-icon"></i>
    <img src="https://raw.githubusercontent.com/NotRana/aniflex/main/public/img/brand_image.png" alt="logo" class="logo">
  </div>
  <div class="nav-middle">
    <i class="ri-discord-fill"></i>
    <i class="ri-twitter-fill"></i>
    <i class="ri-twitch-line"></i>
  </div>
  <div class="nav-right">
    <form id="searchForm" class="searchbox hidden" action="/search" method="GET">
      <input type="text" id="searchQuery" name="q">
      <button type="submit" id="searchButton" class="">search</button>
    </form>
    <i class="ri-search-line"></i>
  </div>
</div>

<ul class="menu">
  <li><a href="/">Home</a></li>
  <li><a href="discord.gg">Discord</a></li>
</ul>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="/public/js/script.js"></script>
