.right {
    position: relative;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: #00000094;
    z-index: 10;
    background: linear-gradient(to right, #2b2a3c, #2b2a3c00);
  }
  
  .lower-paragraph {
    background-color: #201f31;
    padding: 2rem;
    border-radius: 10px;
    margin: 3rem 0;
  }
  .lower-paragraph h3 {
    color: #fff;
    margin-bottom: 1rem;
  }
  .lower-paragraph p {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
  }
  h1{
      font-size: larger;
      
  }
  
  /* .menu{
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */